<h2><img id ="google" src="http://pngimg.com/uploads/google/google_PNG19644.png"> Books</h2>
<form action="results" method="get">
  <input id="book" type="text" name="search" placeholder="Please Enter a Book Title">
  <input id="button" type="submit">
</form>
